:root {
    --background: #cccccc;
  }


*{
    box-sizing: border-box;
}

.body{
    background: var(--background);
}


.navbar_container {
  min-height: 78px;
}

.seccion {
    margin:0px;
}

.seccion__portada {
    background: linear-gradient(to bottom, #1a1a1a, #333, #555);
    min-height: 92vh;
    color: white;
    margin-bottom: 0;
}

 /* .seccion__portada .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}  */



.seccion__proyectos{
    background: linear-gradient(to bottom, #555, #333,#1a1a1a );
    padding: 10px 0;
}

.seccion__proyectos .card {
    margin-bottom: 10px;
}

.seccion__proyectos .proyectos__titulo {
    margin: 20px 0;
    /* border-bottom: 2px solid white; */
}

.seccion__tecnologias .card__container {
    text-align: center;
}


.seccion__contacto .form__mensaje {
   min-height: 200px;
}

/* .seccion__contacto * {
    color: white;
} */


.card__wrapper a {
    text-decoration: none;
    /* color:black; */
}


.link_whatsapp {
    text-decoration: none;
    font-size: 18px;
    color: white;
}


@media(max-width:600px) {
    .portada_titulo h1{
        text-align: center;
        margin: auto;
    }

    .portada_imagen {
        margin-bottom: 10px;
    }

    .portada_imagen-y-texto {
        margin: 20px 0;
    }

    .card__wrapper {
        margin-bottom: 20px;
    }


}
