:root {
    --border-radius: 10%;
    --box-shadow: 0 0 30px rgba(237, 229, 229, 0.8);
    --box-shadow-2: 0 10px 30px rgba(0, 0, 0, 0.3);

    --font-size-numeros: 74px;
}



body{
    min-height: 100%;
    font-size: 34px;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-transform: uppercase;
    background: black;
    box-sizing: border-box;
}

body > * {
    text-align: center;
    
}



.container_juego {
    margin: auto;
    width: 60%;
    display: flex;
    flex-wrap: wrap;
}

.juego,
.juego_resultado{
height: 78vh;
}

.juego {
    margin: auto;
    width: 78%;
    background-image: url(../imagenes/espacio1920.jpg);
    background-size: cover;
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);   
    float: left;
    display: flex;
    flex-direction: column;  
}

.juego > div {
    height: 33%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.superior__unico,
.inferior__unico {
   width: auto;
   text-align: center;
}

.juego_medio > div {
    width: 33%;
}

.inferior__unico {
    display: none;
    text-align: center;
    width: 240px;
}

/*RESULTADOS*/
.juego_resultado > div,
.juego_puntos > div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    max-height: 100px;
}

.juego_resultado {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 20%;
    text-align: center;
    font-size: 24px;
    float: right;
} 

.juego_resultado > div {
    border-radius: var(--border-radius);
    width: 100%;
}


/*PUNTOS///INTENTOS*/

.juego_puntos {
    display: flex;
    justify-content: space-evenly;
    width: 78%;
    font-size: 24px;
    text-align: center;
    border-radius: 10%;  
}

/*/////////////////*/
/* JUEGO/CONTENIDO */
/*/////////////////*/




.numeros {
    font-size: var(--font-size-numeros);
    text-align: center;
}

.superior__unico button {
    width: 100%;
    height: 80px;
    font-size: 20px;
    font-weight: 700;
    border-radius: var(--border-radius);

    background-color: transparent;
    color: white;
    outline: none;
    box-shadow: var(--box-shadow);
    margin: auto;
}

.superior__unico-texto {
    font-size: 50px;
}

.superior__unico-contador,
.superior__unico-resultado {
    font-size: 190px;
    color: rgba(255, 255, 255, 0.521);
    text-align: center;
}

.inferior__unico input,
.inferior__unico button {
    border-radius: var(--border-radius);
    font-weight: 700;
    background-color: transparent;
    color: white;
    outline: none;
    width: 100%;
    height: 80px;
    box-sizing: border-box;
}

.inferior__unico input {
    display: block;
    margin-bottom: 5px;
    font-size: 50px;
    text-align: center;
 }

 /*SACAR FLECHAS DEL INPUT number */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}

/*PUNTUACIONES*/

.puntos__textos {
    color: rgba(255, 255, 255, 0.521);
}


@media(max-width: 1000px) {
    .container_juego {
        width: 80%;
    }

}

@media(max-width: 600px) {
    .container_juego {
        width: 98%;
        margin-top: 10px;
        flex-direction: column;
        gap: 20px;
    }

    .superior__unico button {
        width: 90%;
        font-size: 18px;
    }


    .juego {
        width: 100%;
        height: 440px;
    }

    .juego_puntos {
        display: flex;
        justify-content: space-evenly;
        width: 100%;
        text-align: center;
        border-bottom: none;
    }

    .superior__unico-contador,
    .superior__unico-resultado {
    font-size: 80px;
}

.inferior__unico button {
    height: 60px;
}

.juego_resultado > div {
    border: 3px solid red;
}

    .juego_resultado {
        width: 100%;
        height: 200px;
        flex-direction: row;
        margin: 24px 0;
    }

    /* .juego p {
        font-size: 72px;
    } */

    /* .juego_puntos .dinamico,
    .juego_resultado .dinamico {
        font-size: 34px;
    }

    .juego_puntos p,
    .juego_resultado p {
        font-size: 20px;
    } */

}
